* {
    margin: 0;
    padding: 0;
    font-family: Sora;
}

.index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/nyc-background.jpg);
}

.mywork {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/miami-background.jpg);
    padding-top: 75px;
}

.index,
.mywork {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mywork>h1 {
    text-align: center;
    margin-top: 75px;
    color: rgb(228, 229, 233);
    text-shadow: 4px 4px #000000;
}
.aboutme>h1 {
    text-align: center;
    margin-top: 75px;
    color: rgb(192, 195, 204);
    text-shadow: 4px 4px #000000;
}


nav {
    animation: fadeIn 0.75s;
    position: fixed;
    top: 0;
    right: 10vw;
    list-style-type: none;
    margin-top: 32px;
    width: 100%;
    z-index: 9;
    transition: top 0.3s;
}

ul {
    position: absolute;
    right: 0px;
    top: 36px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 19px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li span {
    text-decoration: none;
    color: #fff;
    padding: 5px 19px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.info a:link {
    color: aqua;
}

.info a:visited {
    color: lightskyblue;
}

strong>a {
    color: aqua;
}

strong>a:visited {
    color: lightskyblue;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}

ul li.active span {
    background-color: #fff;
    color: #000;
}

.logo img {
    position: fixed;
    width: 284px;
    height: 72px;
    top: 25px;
    left: 10vw;
    display: inline-block;
    transition: top 0.3s;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.logo-container {
    width: 100%;
    height: 100%;
}

.namelogo {
    position: absolute;
    animation: fadeIn 0.75s;
}

.name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    color: white;
    width: 50vw;
    display: flex;
    flex-direction: row;
    left: 22.5vw;
    top: 10vh;
    margin: auto;
    background-color: rgba(53, 53, 53, 0.8);
    padding: 25px;
    border-radius: 30px;
}

#about-desc {
    display: flex;
    flex-direction: column;
    padding-right: 40%;
}

.headshot div {
    margin: 10px;
    padding: 10px;
    position: relative;
}

.headshot img {
    width: auto;
    height: 30vh;
    position: absolute;
    transform: translate(-100%, 24%);
    border-radius: 15px;
}

p {
    margin-bottom: 2.5vh;
}

#list {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    background-color: rgba(53, 53, 53, 0.8);
    padding: 25px;
    padding-bottom: 50px;
    border-radius: 25px;
    top: 100px;
}

.boxed {
    flex: 0 0 33.333%;
}

.boxed>img {
    height: 35%;
    width: 90%;
}

.misc-img>img {
    height: 45%;
    width: 90%;
}

.boxed>.icon {
    height: 12.5%;
    width: 20%;
    margin-bottom: 18px;
}

.boxed>.mobile-img {
    height: 35%;
    width: 30%;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.boxed:hover {
    background-color: rgba(83, 108, 129, 0.178);
}

.project-name {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: bold;
    color: rgb(241, 162, 71);
    text-shadow: 2px 2px #726310;
    text-align: center;
}

.info {
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    color: white;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Popups */
  .popup .popuptext {
    visibility: hidden;
    width: 512px;
    background-color: #777777;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: -665%;
    margin-left: -52px;
    padding: 12px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    border-width: 25px;
    border-style: solid;
    border-color: #777777 transparent transparent transparent;
  }
  
  /* hide/show info popups on work page */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* animate fading in */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .fade {
    animation: fadeIn 1.0s;
  }
  .spacer {
    height: 900px;
  }

  .small-spacer {
    height: 150px;
  }

  /* animate fading out */
  @-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
  }

  /* appear animation */
  .appear {
    -webkit-transition: all 0.75s;
    transition: all 0.75s;
    opacity: 0;
    height: 500px;
  }
  
  .appear.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }

  .appear2 {
    -webkit-transition: all 0.75s;
    transition: all 0.75s;
    opacity: 0;
    height: 500px;
  }
  
  .appear2.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }

  /* footer */
  .footer-div {
    height: 50px;
    width: 100%;
    list-style-type:none;
    display:flex;
    justify-content: center;

    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-position: 0% 0%;

    position: relative;
    bottom: 100px;
    padding-bottom: 125px;
  }
  
  .footer-div ul {
    list-style-type:none;
    display:flex;
    justify-content: center;
    margin: 0px 25%;
  }

  .footer-div ul li {
    display: list-item;
    padding: 5px 10px;
    margin: 0 3px;
  }
  
  .footer-div a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
  }
  
  .socials {
    font-size: 20px;
    width: 50%;
  }
  
  .socials li a {
    margin: 0 10px;
  }

/* "tablet" mode */
@media screen and (max-width: 1910px) {
    header.aboutme {
        display: flex;
    }
    header.index {
        display: flex;
    }
    .about {
        flex-direction: column-reverse;
        width: 65%;
        top: 25vh;
        right: 0;
        left: 0;
        margin-top: -16vh;
        height: 925px;
    }
    #about-desc {
        padding: 0;
        margin-top: 5vh;
        text-align: center;
    }
    #about-desc div {
        margin: auto;
        padding: 0;
    }
    
    .headshot img {
        width: 30vw;
        height: auto;
        margin: auto;
        position: static;
        display: block;
        transform: translate(0%,0%);
    }

    .logo img {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0vw;
    }
    ul {
        position: relative;
        right: auto;
    }
    #list {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        padding: 2rem;
        margin: auto;
        width: 65%;
    }
    .name img {
        top: 50%;
        left: 50%;
        width: 50vw;
        height: auto;
        margin: auto;
        display: block;
    }

    .popup .popuptext {
        margin-left: -64px;
    }

    .boxed>.icon {
        height: 0%;
        width: 0%;
    }
    .boxed {
        margin-bottom: 5rem;
    }
    .mywork>h1 {
        margin-bottom: 3rem;
    }
    .info {
        width: 75%;
        text-align: center;
        margin: auto;
        padding-top: 2rem;
    }
    .boxed>img {
        height: 50%;
        width: 85%;
    }
    .misc-img>img {
        height: 60%;
        width: 85%;
    }
    /* Popups */
  .popup .popuptext {
    width: 640px;
    bottom: 205%;
    left: -835%;
  }
}

@media screen and (max-width: 1150px) {
    /* Popups */
  .popup .popuptext {
    width: 384px;
    left: -485%;
  }
   

}
@media screen and (max-width: 775px) {
    .boxed {
        margin-bottom: 2rem;
    }
    .headshot img {
        width: 40vw;
        height: auto;
        margin: auto;
        display: block;
    }
    .info {
        width: 85%;
    }
    .about {
        height: 1050px;
    }
}

@media screen and (max-width: 650px) {
    .about {
        width: 80%;
        height: 1125px;
    }

    .footer-div ul li {
        display: list-item;
        padding: 2px 2px;
        margin: 0 1px;
    }

    .boxed>.mobile-img {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    #list {
        width: 75%;
    }

    /* Popups */
  .popup .popuptext {
    width: 256px;
    bottom: 205%;
    left: -315%;
  }
  
  .name img {
    top: 50%;
    left: 50%;
    width: 75vw;
    height: auto;
    margin: auto;
    display: block;
  }
}

@media screen and (max-width: 300px) {
    
    .about {
        height: 1400px;
    }
    
    #list {
        width: 90%;
    }

    .footer-div ul li {
        display: list-item;
        padding: 1px 1px;
        margin: 0 1px;
        width: 55%;
    }
    
    .footer-div a {
        margin: 0 1px;
        color: white;
        text-decoration: none;
    }

    .footer-div ul li a {
        padding: 4px 15px;
    }
}

@media screen and (max-height: 1500px) and (max-width: 1500px) { /*tablet dimensions, basically*/
    .spacer {
        height: 1500px;
    }
}

@media screen and (max-height: 1000px) {
    .spacer {
        height: 1000px;
    }
}

@media screen and (max-height: 800px) {
    .spacer {
        height: 800px;
    }
}

@media screen and (max-height: 650px) {
    .spacer {
        height: 600px;
    }
}

@media screen and (min-width: 2250px) { /* wide resolutions */
    .headshot img {
        height: 20vh;
    }
}